/classification/1/
/classification/2/
/convolution/cats vs dogs/
/pandas/data/
/binary-classification/.ipynb_checkpoints/
/classification/.ipynb_checkpoints/
/classification_many/.ipynb_checkpoints/
/convolution/.ipynb_checkpoints/
/specification/.ipynb_checkpoints/
/genetic algorithm/.ipynb_checkpoints/
/gradient descent/.ipynb_checkpoints/
/pandas/.ipynb_checkpoints/
/pandas/StepikTask/.ipynb_checkpoints/
/perceptron/.ipynb_checkpoints/
/regression/.ipynb_checkpoints/
/regularization/.ipynb_checkpoints/
/specification/.ipynb_checkpoints/
/specification/SolvingTrees/.ipynb_checkpoints/
/specification/SolvingTrees/titanic_info/
